
/* Hier wird noch ein Hintergrundbild eingefügt */
.background {
    
}

h1 {
    font:  800 31vh 'Dosis', sans-serif;
    color: white;
    line-height: 80%;
    position: fixed;
    align-items: center;
    background: url(Sequenz 01.mp4);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color
}

.btnfont {
    
    font-family: 'Dosis';
    position: fixed;
    
}

/* Style für den Link*/
.btn {
    position: absolute;
    top: 90%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font:  800 25px 'Dosis', sans-serif;
    
    text-decoration: none;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }


  /* mouse over link */
  .btn:hover {
    background-color: black;
    color: white;
  }
