iframe.bgvideo {
  position: fixed;
  right: 0;
  top: -50%;
  left: -25%;
  bottom: 0;
  height: 200%;
  min-width: 150%;
  min-height: 100vh;
  z-index: -1;
}

.interview  {
    position: fixed;
    left: 35%;
    top: 10vh;
    height: 80%;
    border: 20px solid white;
}

.interviewklein  {
  position: fixed;
  left: 35%;
  top: 10vh;
  height: 50%;
  border: 20px solid white;
}


.topnav {
    position: fixed;
    overflow: hidden;
    background-color: none;
  }

  .topnav a {
    float: left;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #b83434;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    background-color: none;
    color: white;
  }

.info {
  position: fixed;
float: right;

}
  .linksrechts {
    font-family: monospace;
    font-size: 200px;
    color: white;
    position: absolute;
    top: 40%;
    left: 90%;
    text-decoration: none;

}
.links {
    font-family: monospace;
    font-size: 200px;
    color: white;
    position: absolute;
    top: 40%;
    left: 1%;
    text-decoration: none;

}